version: "3.9"
services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    env_file:
      - config.yml
    ports:
      - "20000:20000"
      - "21000:21000"
    container_name: resource